header {
	width: 100%;
	position: absolute;
	z-index: 2;
	left: 0;
	right: 0;
	width: 100%;
	top: 0;
	.inner {
		position: relative;
		width: 1170px;
		height: 100px;
		margin: 0 auto;

		h1 {
			position: absolute;
			bottom: 10px;
			left: 0px;
			a {
				font: bold 24px/1 "arial";
				color: #fff;
			}
			img {
				position: relative;
				left: -36px;
			}
		}
		#gnb {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 0px;
			li {
				float: left;
				margin-right: 35px;
				&:last-of-type {
					margin-right: 0;
				}
				a {
					display: block;
					text-transform: uppercase;
					position: relative;
					&:hover {
						&::after {
							content: "";
							display: inline-block;
							position: absolute;
							left: 0;
							width: 100%;
							top: 30px;
							background: #000;
							height: 2px;
							background: #d83a3a;
						}
					}
				}
			}
		}
		.fa-bars {
			font-size: 24px;
			position: absolute;
			bottom: 20px;
			right: 40px;
			display: none;
		}
	}
	&.main {
		background-color: #191919;
		height: 100px;
		padding: 10px;
		transition: 0.5s height, 0.5s padding;
		display: flex;
		align-items: center;
		justify-content: space-between;
		.inner {
			h1 a {
				color: #fff;
			}
			#gnb li a {
				display: block;
				font-size: 15px;
				font-weight: 500;
				color: #fff !important;
				font-family: "Montserrat", sans-serif;
			}
			.fa-bars {
				color: #fff;
			}
		}
	}
	&.sub {
		background-color: #191919;
		height: 100px;
		padding: 10px;
		transition: 0.5s height, 0.5s padding;
		display: flex;
		align-items: center;
		justify-content: space-between;
		.inner {
			h1 {
				img {
					// filter: invert(1);
				}
			}
			h1 a {
				color: #333;
			}
			#gnb li a {
				display: block;
				font-size: 15px;
				font-weight: 500;
				color: #fff !important;
				font-family: "Montserrat" !important;
			}
			.fa-bars {
				color: #333;
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	header {
		width: 100%;
		.inner {
			width: 100%;
			h1 {
				bottom: 20px;
				left: 40px;
			}
			#gnb {
				display: none;
			}
			.fa-bars {
				display: block;
			}
		}
	}
}
