header {
	width: 100%;
	position: absolute;
	z-index: 2;
	left: 0;
	right: 0;
	width: 100%;
	top: 0;
	.inner {
		position: relative;
		width: 1450px;
		height: 100px;
		margin: 0 auto;
		margin-top: 12px;

		h1 {
			position: absolute;
			bottom: 10px;
			left: 0px;
			a {
				font: bold 24px/1 "arial";
				color: #fff;
			}
			img {
				height: 48px;
			}
		}
		#gnb {
			position: absolute;
			top: 15px;
			right: 0px;
			li {
				float: left;
				a {
					display: inline-block;
					padding: 20px 30px;
					font: bold 14px/1 "arial";
					color: #fff;
					font-family: "proxima_nova_rgregular";
				}
			}
		}
		.fa-bars {
			font-size: 24px;
			position: absolute;
			bottom: 20px;
			right: 40px;
			display: none;
		}
	}
	&.sub {
		.inner {
			h1 a {
				color: #222;
				img {
					filter: invert(1);
				}
			}
			#gnb li a {
				color: #333;
			}
			.fa-bars {
				color: #333;
			}
		}
	}
	&.main {
		.inner {
			h1 a {
				color: #fff;
			}
			#gnb li a {
				color: #fff;
				font-size: 13px;
				font-weight: 100;
				letter-spacing: 1px;
			}
			.fa-bars {
				color: #fff;
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	header {
		width: 100%;
		.inner {
			width: 100%;
			h1 {
				bottom: 20px;
				left: 40px;
			}
			#gnb {
				display: none;
			}
			.fa-bars {
				display: block;
			}
		}
	}
}
