.message {
	padding: 20px 0;
	.inner {
		.tit-wrap {
			margin-top: 10px;
			h1 {
				text-align: center;
				color: #263246;
				font-family: "Montserrat", Sans-serif;
				font-size: 44px;
				font-weight: 600;
			}
			h2 {
				text-align: center;
				color: #868990;
				font-family: "Raleway", Sans-serif;
				font-size: 18px;
				font-weight: 500;
			}
			p {
				margin-top: 60px;
				text-align: center;
				color: #263246;
				font-family: "Raleway", Sans-serif;
				font-size: 22px;
				font-weight: 600;
			}
		}
		.mem1,
		.mem2 {
			p {
				margin-top: 50px;
				text-align: center;
				color: #263246;
				font-family: "Raleway", Sans-serif;
				font-size: 22px;
				font-weight: 600;
			}
			section {
				margin-top: 20px;
				display: flex;
				gap: 66px;
				h3 {
					margin-top: 10px;
					text-align: center;
				}
				p {
					text-align: center;
					margin-top: 10px;
					color: #443f3f;
					font-family: "Montserrat", Sans-serif;
					font-size: 15px;
				}
			}
		}
	}
}
