#news {
	width: 100%;
	position: relative;
	padding: 0vw 7vw;
	padding-top: 6vw;
}

.news {
	> .inner {
		&.p0-50 {
			padding: 0 50px;
		}
	}
	&__row {
		align-items: flex-start;
		&:nth-of-type(2) {
			margin-top: 240px;
			.com-type01 {
				transform: translate(0);
			}
		}
		&:nth-of-type(2) .news__txt-wrap:nth-of-type(2) {
			.com-type01 {
				transform: translateX(-115px) translateY(-115px);
			}
		}
		display: flex;
		justify-content: space-between;
		.lef,
		.ref {
			flex: 1;
		}
		.lef {
			margin-right: 100px;
			display: grid;
			flex: 1.2;
			flex-direction: column;
			align-items: flex-start;
			.news__img {
				order: 1;
			}
			.news__txt-wrap {
				order: 0;
				align-self: flex-start;
			}
			img {
				width: 515px;
			}
		}
	}
	&__img {
		flex: 0 0 55%;
		img {
			width: 100%;
		}
	}
	&__txt-wrap {
		flex: 0 0 55%;
	}
}
