.Community {
	> .inner {
		.wrap {
			margin-top: 50px;
			display: flex;
			gap: 30px;
		}
		.inputBox {
			width: 100%;
			padding: 50px 0;
			margin-bottom: 50px;

			input[type="text"],
			textarea {
				width: 100%;
				padding: 20px 10px;
				border-radius: 5px;
				border: 1px solid #aaa;
				margin-bottom: 20px;
				resize: none;
				font-size: 15px;
			}
			.btnSet {
				text-align: center;
				button {
					width: 150px;
					height: 30px;
					display: inline-block;
					border: none;
					background: #555;
					color: #fff;
					cursor: pointer;
					margin-right: 20px;
					&:nth-of-type(2) {
						background: #d83a3a;
					}
				}
			}
		}
		.showBox {
			width: 100%;
			padding: 50px 0;
			article {
				background: #fff;
				border-radius: 5px;
				border: 1px solid #aaa;
				padding: 30px;
				margin-bottom: 40px;
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				align-content: flex-start;
				flex-direction: column;

				h2 {
					margin-bottom: 10px;
				}
				p {
					margin-bottom: 10px;
				}

				.editTxt {
					width: 60%;
					input[type="text"],
					textarea {
						width: 100%;
						padding: 8px 10px;
						border: 1px solid lightblue;
						margin-bottom: 20px;
						background: #eaf9f9;
						resize: none;
					}
				}

				.btnSet {
					display: flex;
					align-items: center;
					button {
						background: transparent;
						margin: 10px;
						cursor: pointer;
						border: none;
						&:nth-of-type(1) {
							color: orange;
						}
						&:nth-of-type(2) {
							color: orangered;
						}
					}
				}
			}
		}
	}
}
$GAP: 10px;

.boxes {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	gap: 30px;

	transition: all 0.5s;
}

.boxes details {
	width: calc(33.3% - 20px);
	height: 210px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 5px;

	filter: grayscale(100%);

	transition: all 0.5s;
	transition: background-size 0s;
	transition: filter 1s;

	&:hover,
	&:focus {
		cursor: pointer;
		filter: grayscale(70%);
	}

	&[open] {
		background-position: top left;
		filter: grayscale(0%);
		grid-row: span 2;

		summary {
			font-size: 1.5em;
			transform: rotate(0deg);
			top: var(--name-top);

			.realname {
				opacity: 1;
				max-height: 50px;
				max-width: 200px;
			}
			~ * {
				animation: fadeIn 0.5s ease-in-out;
			}
		}
	}

	summary {
		background: black;
		border: 3px solid transparent;
		border-radius: 3px;
		color: white;
		display: inline-block;
		margin: $GAP / 2 $GAP;
		padding: $GAP $GAP * 2;
		top: 0;
		left: 0;
		transform: rotate(-15deg);
		transition: all 0.5s;
		z-index: 100;

		position: relative;
		left: -1.75 * $GAP;

		.realname {
			display: block;
			font-size: 14px;
			overflow: hidden;
			opacity: 0;
			max-height: 0;
			max-width: 0;
			transition: all 0.5s;
			transition-delay: 0.5s;
		}

		&::-webkit-details-marker {
			display: none;
		}
		&:first-of-type {
			list-style-type: none;
		}

		&:hover {
			cursor: pointer;
		}

		&:focus {
			border: 3px solid #1adbb1;
			outline: none;
		}
	}

	ul {
		border: 1px solid #cfcfcf;
		border-radius: 5px;
		border-top: 0;
		padding: $GAP;
		list-style: none;
		transition: all 0.5s;

		li {
			padding: $GAP $GAP / 2;
			&:nth-child(2) {
				animation-delay: 1s;
				-webkit-animation-delay: 1s;
			}
			&:nth-child(3) {
				animation-delay: 2s;
				-webkit-animation-delay: 2s;
			}
			&:nth-child(4) {
				animation-delay: 3s;
				-webkit-animation-delay: 3s;
			}
			&:nth-child(5) {
				animation-delay: 4s;
				-webkit-animation-delay: 4s;
			}
		}
	}
}

#bts {
	background-image: url("https://bts.ibighit.com/images/bts/profile/profile-kv.png");
}
#v {
	background-image: url("https://bts.ibighit.com/images/bts/profile/member-v.jpg");
}
#suga {
	background-image: url("https://bts.ibighit.com/images/bts/profile/member-suga.jpg");
}
#jhope {
	background-image: url("https://bts.ibighit.com/images/bts/profile/member-jhope.jpg");
}
#jungkook {
	background-image: url("https://bts.ibighit.com/images/bts/profile/member-jk.jpg");
}
#jin {
	background-image: url("https://bts.ibighit.com/images/bts/profile/member-jin.jpg");
}
#jimin {
	background-image: url("https://bts.ibighit.com/images/bts/profile/member-jimin.jpg");
}
#rm {
	background-image: url("https://bts.ibighit.com/images/bts/profile/member-rm.jpg");
}

@media screen and (max-width: $tablet) {
	.Community {
		> .inner {
			.inputBox {
				input[type="text"],
				textarea {
					width: 100%;
				}
				.btnSet {
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
					button {
						width: 47%;
						margin-right: 0px;
					}
				}
			}
			.showBox {
				article {
					.editTxt,
					.txt {
						width: 100%;
					}
					.btnSet {
						margin-top: 20px;
						button {
							margin-left: 0px;
						}
					}
				}
			}
		}
	}
}
