.Community {
	h2 {
		color: #333;
		margin-bottom: 20px;
		font-size: 33px;
		font-weight: 700;
		text-transform: uppercase;
		position: relative;
		&::before {
			position: relative;
			top: -1px;
			margin-right: 15px;
			content: "★";
			display: inline-block;
		}
	}
	> .inner {
		.wrap {
			margin-top: 50px;
			// display: flex;
			gap: 30px;
		}
		.inputBox {
			width: 100%;
			padding: 50px 0;
			margin-bottom: 50px;
			&:nth-of-type(2) {
				h2 {
					margin-top: 30px;
				}
			}

			input[type="text"],
			textarea {
				width: 100%;
				padding: 20px 10px;
				border-radius: 5px;
				background: #fff;
				border: 5px solid #333;
				margin-bottom: 20px;
				resize: none;
				font-size: 15px;
				font-family: arial;
				color: #fff;
				::placeholder {
					color: #fff;
				}
			}

			.btnSet {
				text-align: center;
				display: flex;
				justify-content: center;
				gap: 15px;
				button {
					width: 160px;
					cursor: pointer;
					position: relative;
					padding: 10px 20px;
					color: #333;
					background: transparent;
					border: none;
					font-size: 16px;
					text-decoration: none;
					text-transform: uppercase;
					overflow: hidden;
					transition: 0.5s;
					height: 48px;
					letter-spacing: 4px;
					font-weight: bold !important;
					background: #333;
					color: #fff;
					border-radius: 5px;
					&:hover {
						box-shadow: inset 0 0 0 2em #fff;
						outline: 1px solid #333;
						color: #333;
					}
					span {
						position: absolute;
						display: block;
					}

					span:nth-child(1) {
						top: 0;
						left: -100%;
						width: 100%;
						height: 2px;
						background: linear-gradient(90deg, transparent, #333);
						animation: btn-anim1 1s linear infinite;
					}

					@keyframes btn-anim1 {
						0% {
							left: -100%;
						}
						50%,
						100% {
							left: 100%;
						}
					}

					span:nth-child(2) {
						top: -100%;
						right: 0;
						width: 2px;
						height: 100%;
						background: linear-gradient(180deg, transparent, #333);
						animation: btn-anim2 1s linear infinite;
						animation-delay: 0.25s;
					}

					@keyframes btn-anim2 {
						0% {
							top: -100%;
						}
						50%,
						100% {
							top: 100%;
						}
					}

					span:nth-child(3) {
						bottom: 0;
						right: -100%;
						width: 100%;
						height: 2px;
						background: linear-gradient(270deg, transparent, #333);
						animation: btn-anim3 1s linear infinite;
						animation-delay: 0.5s;
					}

					@keyframes btn-anim3 {
						0% {
							right: -100%;
						}
						50%,
						100% {
							right: 100%;
						}
					}

					span:nth-child(4) {
						bottom: -100%;
						left: 0;
						width: 2px;
						height: 100%;
						background: linear-gradient(360deg, transparent, #333);
						animation: btn-anim4 1s linear infinite;
						animation-delay: 0.75s;
					}

					@keyframes btn-anim4 {
						0% {
							bottom: -100%;
						}
						50%,
						100% {
							bottom: 100%;
						}
					}

					&:nth-of-type(2) {
						cursor: pointer;
						position: relative;
						padding: 15px 35px;
						color: #d83a3a;
						background: transparent;
						border: none;
						font-size: 16px;
						text-decoration: none;
						text-transform: uppercase;
						overflow: hidden;
						transition: 0.5s;
						height: 48px;
						letter-spacing: 4px;
						background: #d83a3a;
						color: #fff;
						border-radius: 5px;
						&:hover {
							box-shadow: inset 0 0 0 2em #fff;
							outline: 1px solid #d83a3a;
							color: #333;
						}
						span {
							position: absolute;
							display: block;
						}

						span:nth-child(1) {
							top: 0;
							left: -100%;
							width: 100%;
							height: 2px;
							background: linear-gradient(90deg, transparent, #d83a3a);
							animation: btn-anim5 1s linear infinite;
						}

						@keyframes btn-anim5 {
							0% {
								left: 100%;
							}
							50%,
							100% {
								left: -100%;
							}
						}

						span:nth-child(2) {
							top: -100%;
							right: 0;
							width: 2px;
							height: 100%;
							background: linear-gradient(180deg, transparent, #d83a3a);
							animation: btn-anim6 1s linear infinite;
							animation-delay: 0.25s;
						}

						@keyframes btn-anim6 {
							0% {
								top: 100%;
							}
							50%,
							100% {
								top: -100%;
							}
						}

						span:nth-child(3) {
							bottom: 0;
							right: -100%;
							width: 100%;
							height: 2px;
							background: linear-gradient(270deg, transparent, #d83a3a);
							animation: btn-anim7 1s linear infinite;
							animation-delay: 0.5s;
						}

						@keyframes btn-anim7 {
							0% {
								right: 100%;
							}
							50%,
							100% {
								right: -100%;
							}
						}

						span:nth-child(4) {
							bottom: -100%;
							left: 0;
							width: 2px;
							height: 100%;
							background: linear-gradient(360deg, transparent, #d83a3a);
							animation: btn-anim8 1s linear infinite;
							animation-delay: 0.75s;
						}

						@keyframes btn-anim8 {
							0% {
								bottom: 100%;
							}
							50%,
							100% {
								bottom: -100%;
							}
						}
					}
				}
			}
		}
		.showBox {
			width: 100%;
			article {
				background: #fff;
				border: 2px solid #333;
				border-right: none;
				border-left: none;
				padding: 30px;
				margin-bottom: 15px;
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				align-content: flex-start;
				position: relative;

				h2 {
					margin-bottom: 10px;
					color: #333;
					&::before {
						display: none;
					}
				}
				p {
					margin-bottom: 10px;
					color: #333;
					font-weight: 300;
				}

				.editTxt {
					width: 60%;
					input[type="text"],
					textarea {
						width: 100%;
						padding: 8px 10px;
						border: 1px solid lightblue;
						margin-bottom: 20px;
						background: #eaf9f9;
						resize: none;
					}
				}

				.btnSet {
					display: flex;
					align-items: center;
					button {
						background: transparent;
						margin: 10px;
						cursor: pointer;
						border: none;
						&:nth-of-type(1) {
							color: #333;
						}
						&:nth-of-type(2) {
							color: #d83a3a;
						}
					}
				}
			}
		}
	}
}
$GAP: 10px;

.boxes {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	gap: 30px;

	transition: all 0.5s;
}

.boxes details {
	width: calc(33.3% - 20px);
	height: 210px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 5px;

	filter: grayscale(100%);

	transition: all 0.5s;
	transition: background-size 0s;
	transition: filter 0.2s;

	&:hover,
	&:focus {
		cursor: pointer;
		filter: grayscale(0%);
	}

	&[open] {
		background-position: top left;
		filter: grayscale(0%);
		grid-row: span 2;

		summary {
			font-size: 1.5em;
			transform: rotate(0deg);
			top: var(--name-top);

			.realname {
				opacity: 1;
				max-height: 50px;
				max-width: 200px;
			}
			~ * {
				animation: fadeIn 0.5s ease-in-out;
			}
		}
	}

	summary {
		background: black;
		border: 3px solid transparent;
		border-radius: 3px;
		color: white;
		display: inline-block;
		// margin: $GAP / 2 $GAP;
		padding: $GAP $GAP * 2;
		top: 0;
		left: 0;
		transform: rotate(-15deg);
		transition: all 0.5s;
		z-index: 100;

		position: relative;
		left: -1.75 * $GAP;

		.realname {
			display: block;
			font-size: 14px;
			overflow: hidden;
			opacity: 0;
			max-height: 0;
			max-width: 0;
			transition: all 0.5s;
			transition-delay: 0.5s;
		}

		&::-webkit-details-marker {
			display: none;
		}
		&:first-of-type {
			list-style-type: none;
		}

		&:hover {
			cursor: pointer;
		}

		&:focus {
			border: 3px solid #1adbb1;
			outline: none;
		}
	}

	ul {
		border: 1px solid #cfcfcf;
		border-radius: 5px;
		border-top: 0;
		padding: $GAP;
		list-style: none;
		transition: all 0.5s;

		li {
			// padding: $GAP $GAP/2;
			&:nth-child(2) {
				animation-delay: 1s;
				-webkit-animation-delay: 1s;
			}
			&:nth-child(3) {
				animation-delay: 2s;
				-webkit-animation-delay: 2s;
			}
			&:nth-child(4) {
				animation-delay: 3s;
				-webkit-animation-delay: 3s;
			}
			&:nth-child(5) {
				animation-delay: 4s;
				-webkit-animation-delay: 4s;
			}
		}
	}
}

#bts {
	background-image: url("https://bts.ibighit.com/images/bts/profile/profile-kv.png");
}
#v {
	background-image: url("https://bts.ibighit.com/images/bts/profile/member-v.jpg");
}
#suga {
	background-image: url("https://bts.ibighit.com/images/bts/profile/member-suga.jpg");
}
#jhope {
	background-image: url("https://bts.ibighit.com/images/bts/profile/member-jhope.jpg");
}
#jungkook {
	background-image: url("https://bts.ibighit.com/images/bts/profile/member-jk.jpg");
}
#jin {
	background-image: url("https://bts.ibighit.com/images/bts/profile/member-jin.jpg");
}
#jimin {
	background-image: url("https://bts.ibighit.com/images/bts/profile/member-jimin.jpg");
}
#rm {
	background-image: url("https://bts.ibighit.com/images/bts/profile/member-rm.jpg");
}

@media screen and (max-width: $tablet) {
	.Community {
		> .inner {
			.inputBox {
				input[type="text"],
				textarea {
					width: 100%;
				}
				.btnSet {
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
					button {
						width: 47%;
						margin-right: 0px;
					}
				}
			}
			.showBox {
				article {
					.editTxt,
					.txt {
						width: 100%;
					}
					.btnSet {
						margin-top: 20px;
						button {
							margin-left: 0px;
						}
					}
				}
			}
		}
	}
}

.ediTxt {
	width: 100%;
	input,
	textarea {
		background: transparent;
		border: 1px solid #aaa;
		padding: 15px 20px;
		width: 100%;
		color: #333;
		margin: 5px 0;
		width: 100%;
	}
}

button {
	min-width: 160px;
	cursor: pointer;
	position: relative;
	padding: 10px 20px;
	color: #333;
	background: transparent;
	border: none;
	font-size: 16px;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	transition: 0.5s;
	height: 48px;
	letter-spacing: 4px;
	font-weight: bold !important;
	background: #333;
	color: #fff;
	border-radius: 5px;
	&:hover {
		box-shadow: inset 0 0 0 2em #fff;
		outline: 1px solid #333;
		color: #333;
	}
}
