.Member {
	background: #222;
	> .inner {
		h1 {
			color: #fff;
		}
		form {
			background-color: #fff;
			border-radius: 10px;
			box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
			padding: 30px 20px;
			table {
				width: 100%;
				tr {
					width: 100%;
				}
				th,
				td {
					display: block;
					width: 100%;
					&.flex {
						display: flex;
						label {
							padding-left: 10px;
						}
					}
					input {
						display: block;
						width: 100%;
						border: none;
						outline: none;
						border-bottom: 1px solid #333;
						background-color: transparent;
						padding: 8px 15px;
					}
					.err {
						font-size: 13px;
						color: #d83a3a;
						display: inline-block;
						margin-top: 5px;
						padding-left: 15px;
					}
					input[type="checkbox"],
					input[type="radio"] {
						width: auto;
						margin: 0 10px;
					}
					select {
						margin-top: 5px;
						width: 100%;
						border: 1px solid #aaa;
						padding: 8px 15px;
					}
				}
				th {
					padding: 0 0 2px 10px;
					color: #333 !important;
					font-family: "Roboto", Helvetica, sans-serif;
					font-size: 1em;
					color: #888;
					font-weight: 500;
					text-align: left;
				}
				td {
					margin-bottom: 30px;
				}
			}
			textarea {
				width: 100%;
				min-height: 100px;
			}
			input[type="reset"] {
				padding: 18px 15px;
				background-color: #d83a3a;
				color: #fff;
				border-bottom: transparent;
			}
			input[type="submit"] {
				padding: 10px 15px;
				background-color: #d83a3a;
				color: #fff;
				border-bottom: transparent;
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.Member {
		> .inner {
			table {
				td {
					input[type="text"],
					input[type="password"],
					select,
					textarea {
						width: 80%;
					}
					.err {
						display: block;
						margin-top: 10px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	.Member {
		> .inner {
			table {
				th {
					display: none;
					padding: 15px 0px;
					&:last-child {
						display: block;
						width: 100%;
					}
					input[type="reset"],
					input[type="submit"] {
						width: 48%;
						margin: 0px;
					}
				}
				td {
					border-left: none;
					padding: 15px 0px;
					input[type="text"],
					input[type="password"],
					select,
					textarea {
						width: 100%;
					}
				}
			}
		}
	}
}
